*~
*#
*.asv
*.bak
*.cfe
*.cfs
*.eps
*.pdf
*.mat
*.mexw64
*.o
*.sav
*.png
*.html
*_raw.m
*_raw.xml
*.gen
*.si
*.prj
*.mltbx
GAIL_Matlab/Documentation/autodoc
GAIL_Matlab/Documentation/autodoc2
GAIL_Matlab/Documentation/html/helpsearch*
GAIL_Matlab/OutputFiles/gail_unittests.txt
GAIL_Matlab/OutputFiles/gail_tests-2015-02-23-01-14-44.txt
GAIL_Matlab/OutputFiles/gail_tests-2015-02-23-01-24-10.txt
GAIL_Matlab/ThirdParty

