*~
*.asv
*.cfs
*.mat
*.o
*.out
*.pdf
*.sav
*.png
*.html
*_raw.m
*_raw.xml
*.gen
*.si
*.cfe
*.prj
*.mltbx
GAIL_Matlab/Documentation/autodoc?
GAIL_Matlab/Documentation/html/gail_ug2_1.tex
GAIL_Matlab/Documentation/html/helpsearch*
GAIL_Matlab/ThirdParty
GAIL_Matlab/OutputFiles/*.txt
